:root {
    --blue: #63AAAB;
    --orange: #FFA500;
    --gray:  #36454f;
}

html {
    scroll-behavior: smooth;
  }

main {
    background-color: var(--gray);
}

p {
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

