:root {
    --blue: #63AAAB;
    --orange: #FFA500;
    --gray:  #36454f;
}

.form-container {
    height: 20rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: var(--gray);
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--gray);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 15px;
    width: 100%;
}

.formButton {
    border-radius: 5px;
    color: white;
    background-color: var(--orange);
}