:root {
    --blue: #63AAAB;
    --orange: #FFA500;
    --gray:  #36454f;
}

.covid-section {
    background-color: black;
    height: 100%; 
}

.covid-container {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.covid-header {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.covid-paragraph {
    font-size: 1.5rem;
    text-align: center;
    color: var(--orange);
}  