:root {
    --blue: #63AAAB;
    --orange: #FFA500;
    --gray:  #36454f;
}

.fleet {
    background-color:var(--gray);
}

.fleet-p {
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 0px;
    text-shadow: 1px 1px black;

}

.fleet-container {
   display: grid;
   grid-template-columns: repeat(2,2fr);
   padding: 0 0rem;
}

.trailer-info-header {
    text-shadow: 1px 1px black;

}

.fleet-info  {
    text-align: center;
    padding: 1rem;
}

.card-stat-container {
    border: gray solid 1px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.title-splash {
    color: var(--blue)
}

img {
    border-radius: 15px;
}

.orange-splash {
    color: var(--blue);
}

@media screen and (min-width: 1201px) {
    #fifth-trailer {
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 60vw;
        left: 480px;
    } 
}

@media screen and (max-width: 1200px) {
    .fleet-container {
        display: grid;
        grid-template-columns: repeat(1,100%);
    }
}

@media only screen and (max-width: 500px) {
    .fleet-container {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
}

