:root {
    --blue: #63AAAB;
    --orange: #FFA500;
    --gray:  #36454f;
}

.fleet {
    background-color: #212121;
}
.fleet-p {
    font-size: 2.5rem;
    text-align: center;
}

.fleet-container {
    display: grid;
   grid-template-columns: repeat(3,1fr);
   padding: 0 16rem;
   margin-right: -12.5rem;

}

.trailer-info {
    
}