:root {
    --blue: #63AAAB;
    --orange: #FFA500;
    --gray:  #36454f;
}

.fleet {
    background-color:var(--gray);
}
.fleet-p {
    font-size: 2.5rem;
    text-align: center;
}

.fleet-container {
    display: grid;
   grid-template-columns: repeat(3,1fr);
   padding: 0 4rem;
}

.fleet-info  {
    text-align: center;
    padding: 1rem;
}

img {
    border-radius: 15px;
}


