.footer-section {
  width: auto;
  height: 8rem;
  background-color: black;
  padding-top: 5rem;
}

.footerIcon {
  text-align: center;
}

.footerIcon :first-child {
  margin-right: 0.5rem;
}

.fbIcon .phoneIcon {
  display: inline;
}

.phoneIcon {
  margin-left: 10px;
}

.copyright {
  color: white;
}

@media screen and (max-width: 1200px) {
  
}
@media only screen and (max-width: 500px) {

}