.footer-section {
    width: 100%;
    background-color: black;
}

.footerIcon {
  text-align: center; 
}

.footerIcon :first-child {
    margin-right: .5rem;
}

.fbIcon .phoneIcon{
    display: inline;
}

.phoneIcon {
    margin-left: 10px;
}

.copyright {
    color: white;
}