.footer-section {
  width: auto;
  height: 8rem;
  background-color: black;
}

.footerIcon {
  text-align: center;
}

.footerIcon :first-child {
  margin-right: 0.5rem;
}

.fbIcon .phoneIcon {
  display: inline;
}

.phoneIcon {
  margin-left: 10px;
}

.copyright {
  color: white;
}
