:root {
    --blue: #63AAAB;
    --orange: #FFA500;
    --gray:  #36454f;
}


.hero-header {
    font-size: 2.5rem;
    color: white;
    margin-top: 0rem;
    margin-left: 8rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-shadow: 1px 1px black;
}

.hero-p {
    margin: -3rem 0rem 0rem 8rem; 
    /* align-items: center; */
    justify-content: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px black;
}

.trailer-container {
    display: flex;
    justify-content: flex-end;
}

.stacked-logo {
    height: 25rem;
    margin: -10rem 25rem 0rem 0rem;
    border-radius: 5px;
}

.container{
    position: relative;
    content: '';
    background-image: url("../images/rvsunset.jpg"); 
    background-size: 100% 150%;
    object-fit: center 100%;
}

@media screen and (min-width: 1200px) {
    .hero-header {
        font-size: 2rem;
        margin: 0rem 0rem -2rem 5rem;
    }

    .hero-p {
        margin: 0rem 0rem 0rem 5rem;
    }

    .stacked-logo {
        height: 17rem;
        margin: -11rem 18.5rem 0rem 0rem;
    }

    .container {
        height: 435px;
    }
}

@media screen and (max-width: 500px) {
    .hero-header {
        font-size: 2rem;
        margin: 0rem 0rem 0rem 0rem;
        text-align: center;
    }

    .hero-p {
        margin: 0rem 0rem 0rem 0rem;
        text-align: center;
    }

    .stacked-logo {
        height: 20rem;
        margin: 0rem 2.5rem 0rem 0rem;
        border-radius: 10px;
    }

    .container {
        background-size: 100% 100%;
        background-image: none;
    }
}
