:root {
    --blue: #63AAAB;
    --orange: #FFA500;
    --gray:  #36454f;
}

.container{
    position: relative;
    content: '';
    background-image: url("../images/beach.jpg"); 
    background-size: cover;
    object-fit: cover 100%;
}

.hero-header {
    font-size: 2.5rem;
    color: white;
    margin-top: 0rem;
    margin-left: 8rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-p {
    margin: 0rem 0rem 0rem 8rem; 
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

}

.trailer-container {
    display: flex;
    justify-content: flex-end;
}

.temp-trailer {
    height: 25rem;
    margin: -4rem 25rem 0rem 0rem;
    border-radius: 10px;
}

