:root {
    --blue: #63AAAB;
    --orange: #FFA500;
    --gray:  #36454f;
}

.hero-header {
    width: 100%;
    font-size: 2.5rem;
    color: white;
    margin: 3rem 0rem 0rem 20rem; 
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.hero-p {
    margin: 0rem 0rem 0rem 20rem; 
    background-color: #000000;
    align-items: center;
    justify-content: center;
}

.trailer-container {
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
}

.temp-trailer {
    height: 25rem;
    margin: -8rem 25rem 0rem 0rem;
    border-radius: 10px;
}
