:root {
    --blue: #63AAAB;
    --orange: #FFA500;
    --gray:  #36454f;
}

.nav {
    margin-top: 0; 
    position: sticky;
	top: 0;
}

nav {
    background-color: var(--gray);
    padding: 1rem;
    height: 4.25rem; 
    border-bottom:  solid 2px gray;
}

.nav img {
    object-fit: contain 100%;
}

.nav ul {
    margin-top: -1rem;
    margin-left: 19rem;
    display: flex;
}

.nav li {
    font-size: 1.5rem;
    margin: 3rem 5rem 0rem 6rem;
    color: white;
    justify-content: space-between;
}

.title {
    font-family: 'Ultra', serif;
    font-size: 2.5rem;
    color: var(--orange);
}
