:root {
    --blue: #63AAAB;
    --orange: #FFA500;
    --gray:  #36454f;
}

.nav {
    width: 100%;
    top: 0; 
    position: sticky;
    z-index: 100;
}

.nav-contents {
    background-color: var(--gray);
    border-bottom:  solid 1px gray;
}

.nav img {
    object-fit: contain 100%;
}

.nav ul {
    margin-top: 0rem;
    margin-left: 5.5rem;
    display: flex;
}



.nav-links {
    font-size: 1.75rem;
    color: white;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2.2rem;
    justify-content: space-between;
}

.title {
    font-family: 'Ultra', serif;
    font-size: 2rem;
    margin-right: 11rem;
    color: var(--orange);
}

.phonenum {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 30px;
}


.phoneNav {
    color: white;
}

.nav-links:hover {
    background-color: var(--orange);
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

/* .phoneNav:hover {
    color: var(--orange);
} */
