.reviews-section {
    background-color: black;
}

.review-container {
    width: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.review-name {
    color: white;
}

@media screen and (min-width: 1201px) {
    .review-container {
        right: 485px;
    }

    .reviews-section {
        height: 150px;
    }
}

@media screen and (max-width: 1200px) {
    .review-container {
        width: 100%;
        align-items: center;
        position: relative;
        left:initial;
}
}

@media screen and (max-width: 500px) {
    .review-container {
        height: auto;
    }
}
