:root {
    --blue: #63AAAB;
    --orange: #FFA500;
    --gray:  #36454f;
}

#navigation {
    display: flex;
    padding-top: 45px;
    padding-bottom: 35px;
    height: 70px;
    background-color: #36454f; 
    z-index: 100;
}

.title {
    height: 5rem;
    width: 20rem;
    margin-left: 5rem;
}

.navbar {
    position: absolute;
    right: 3rem;
    float: right;
}

.navlinks {
    font-size: 1.75rem;
    color: white;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 3rem; 
    padding: 5px;
    border-radius: 10px;
    text-shadow: 1px 1px black;
}

.phonenum {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 30px;
    text-shadow: 1px 1px black;

}

.navlinks:hover {
    background-color: var(--orange);
    padding: 5px;
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

#burger {
    display: none;
    cursor: pointer;
}

#burger div {
    width: 40px;
    height: 4px;
    margin: 8px;
    transition: all 0.3s ease;
    background-color: white;
    border-radius: 10px;
}

/* Line click animation for burger */
.line1click {
    transform: rotate(-45deg) translate(-10px, 8px);
}

.line2click {
    opacity: 0;
}

.line3click {
    transform: rotate(45deg) translate(-8px, -7px);
}

@media screen and (max-width: 1200px) {
    #navigation {
        margin-left: 0px;
        height: 100px;
        align-items: unset;
    }
    
    #burger {
        display: block;
    }

    #mobilenavigation {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #logo {
       width: 300px;
    }

    #burger {
        position: absolute;
        right: 30px;
    }

    .navbar {
        width: 100%;
        height: calc(100vh - 150);
        top: 160px;
        left: -100%;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 0;
        margin-bottom: 10px;
        background-color: black;
        display: flex;
        flex-direction: column;
    }

    .navbar.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .navlinks {
        font-size: 40px;
        margin: 40px auto;
    }
    
    .phonenum {
        font-size: 20px;
        margin: 40px auto;
    }

    .title {
        margin-left: 0rem;
        margin-top: 3rem;
        padding-left: 1rem;
    }
}

@media screen and (max-width: 500px) {
    #navigation {
        padding-top: 10px;
    }
    
    .title {
        margin-left: -.5rem;
        margin-top: 1.25rem;
        padding-left: 1rem;
    }
    
    .phonenum {
        font-size: 20px;
        margin: 40px auto;
    }

}